<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <!-- Prod 
    <add name="Apps" connectionString="Data Source=74.112.192.186,1920;Initial Catalog=Intranet;Persist Security Info=True;UID=SmartHqSetup;Password=hwznzC9amnCPzYwyX7p3DSM;Connection Timeout=30" providerName="System.Data.SqlClient" />
    <add name="USAT" connectionString="Data Source=74.112.192.186,1920;Initial Catalog=USAT;Persist Security Info=True;UID=SmartHqSetup;Password=hwznzC9amnCPzYwyX7p3DSM;Connection Timeout=30" providerName="System.Data.SqlClient" />
    <add name="Payments" connectionString="Data Source=74.112.192.186,1920;Initial Catalog=Payments;Persist Security Info=True;UID=SmartHqSetup;Password=hwznzC9amnCPzYwyX7p3DSM;Connection Timeout=30" providerName="System.Data.SqlClient" />
    -->
    <!-- QA  -->
    <add name="Apps" connectionString="Data Source=qa-app.365smartshop.com,1920;Initial Catalog=Intranet;Persist Security Info=True;UID=SmartHqSetup;Password=B3Ljnoy0vjCGD7u;Connection Timeout=30" providerName="System.Data.SqlClient" />
    <add name="USAT" connectionString="Data Source=qa-app.365smartshop.com,1920;Initial Catalog=USAT;Persist Security Info=True;UID=SmartHqSetup;Password=B3Ljnoy0vjCGD7u;Connection Timeout=30" providerName="System.Data.SqlClient" />
    <add name="Payments" connectionString="Data Source=qa-app.365smartshop.com,1920;Initial Catalog=Payments;Persist Security Info=True;UID=SmartHqSetup;Password=B3Ljnoy0vjCGD7u;Connection Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webKey" value="rtm07943fotelvngxdwDreddIeqxuDeJ"/>
    <add key="ecrKey" value="wiri4kdcv50xqlt4sVrdtvfS1N2P4R3y"/>
    <add key="ecrIv" value="krkqpcxemKwsrIrr"/>    
  </appSettings>
</configuration>